@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montserrat", sans-serif;
}

.ReactFlagsSelect-module_selectBtn__19wW7{
  border: none !important;
  width: 100px;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ{
  width: 150px;
  margin-left: 10px;
}